<%- include('header'); -%>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container-fluid d-flex">
  
        <div class="logo mr-auto">
          <h1 class="text-light"><a href="/"><span>Tallo</span></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>
  
        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a href="/">Home</a></li>
            <li class="drop-down"><a href="/profile">Profile</a>
              <ul>
                <li><a href="/buds">Buds</a></li>
                <li><a href="/feed">Community</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact Us</a></li>
  
            <li class="get-started"><a href="/search">Explore</a></li>
          </ul>
        </nav><!-- .nav-menu -->
  
      </div>
    </header><!-- End Header -->

  <main id="main">
    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
     <div class="container">
 
       <div class="section-title" data-aos="fade-up">
         <h2>Friend Requests</h2>
         <p id="userName"><%= user.local.username %>, all your buds are here!</p> 
       </div>
 
       <div class="row">
         <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
           <div class="info">
            <div>
              <p id="buddyReq">Buddy Requests</p>
              <ul>
                <% for (var i=0; i<friends.length;i++){%>
                  <% if (!friends[i].accepted && friends[i].receiver.toString() === user._id.toString() ) { %>
                    <p><%=friends[i].senderUsername%></p>
                    <button data-id="<%=friends[i].sender%>" id="acceptFriend">Accept Friend Request</button>
                 <% } else if(!friends[i].accepted){ %>
                  <p><%=friends[i].receiverUsername%></p>
                    <button data-id="<%=friends[i].receiver%>" id="denyFriend">Delete Friend Request</button>
                 <% } %>
               <%}%>
              </ul>
            </div>
           
           </div>
         </div>
 
         <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
           <div class="php-email-form scrollable">
              <!-- IMAGE UPLOAD -->
              <div>
                <p class="buddy">Buddy List</p>
              <ul>
                <% for (var i=0; i<friends.length;i++){%>
                  <% if (friends[i].accepted && friends[i].receiver.toString() === user._id.toString() ) { %>
                    <p><%=friends[i].senderUsername%></p>
                    <button data-id="<%=friends[i].sender%>" id="denyFriend">Remove Friend</button>
                 <% } else if(friends[i].accepted){ %>
                  <p><%=friends[i].receiverUsername%></p>
                    <button data-id="<%=friends[i].receiver%>" id="denyFriend">Remove Friend</button>
                 <% } %>
               
               <%}%>
              </ul>
              </div>
          </div>
         </div>
   </section><!-- End Contact Us Section -->
 </main><!-- End #main -->
 <script src='/viewsjs/buds.js'></script>
<%- include('footer'); -%>
