<%- include('header'); -%>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container-fluid d-flex">
  
        <div class="logo mr-auto">
          <!-- <h1 class="text-light"><a href="/"><span>Tallo</span></a></h1> -->
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="/"><img src="/img/talloLogo.png" alt="" class="img-fluid"></a>
        </div>
  
        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a href="/">Home</a></li>
            <li class="drop-down"><a href="/profile">Profile</a>
              <ul>
                <li><a href="/buds">Buds</a></li>
                <li><a href="/feed">Community</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact Us</a></li>
  
            <li class="get-started"><a href="/search">Explore</a></li>
          </ul>
        </nav><!-- .nav-menu -->
  
      </div>
    </header><!-- End Header -->

  <main id="main">
    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
     <div class="container">
 
       <div class="section-title" data-aos="fade-up">
         <h2>Bud Activity</h2>
         <p id="userName"><%= user.local.username %>, all your buds are here!</p> 
       </div>
 
       <div class="row">
         <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
           <div class="info scrollableList">
            <div>
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item"> <!--beginning of tablist-->
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Bud Requests</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Bud List</a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <ul>
                  <% for (var i=0; i<friends.length;i++){%>
                  <% if (!friends[i].accepted && friends[i].receiver.toString() === user._id.toString() ) { %>
                    <p><%=friends[i].senderUsername%></p>
                    <button class="acceptBud" data-id="<%=friends[i].sender%>" id="acceptFriend">Accept Request</button>
                    <button class="delBud" data-id="<%=friends[i].receiver%>" id="denyFriend">Deny Request</button>
                 <% } else if(!friends[i].accepted){ %>
                  <p><%=friends[i].receiverUsername%></p>
                    <button class="delBud" data-id="<%=friends[i].receiver%>" id="denyFriend">Deny Request</button>
                 <% } %>
                <%}%>
                </ul>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <ul id="buddyList">
                  <% for (var i=0; i<friends.length;i++){%>
                  <% if (friends[i].accepted && friends[i].receiver.toString() === user._id.toString() ) { %>
                    <p class="friendsName"><%=friends[i].senderUsername%></p>
                    <button class="delBud" data-id="<%=friends[i].sender%>" id="denyFriend">Remove</button>
              
                 <% } else if(friends[i].accepted){ %>
                  <p class="friendsName"><%=friends[i].receiverUsername%></p>
                    <button class="delBud" data-id="<%=friends[i].receiver%>" id="denyFriend">Remove</button>
                 <% } %>
                  <%}%>
                </ul>
                </div>
              </div> <!----end of tab thingy-->
            </div>
           </div>
         </div>
 
         <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
           <div class="php-email-form scrollable">
            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                <% for (var i=0; i<posts.length;i++){%>
                    <div id="topJump">
                      <a class="hashUser" href="/profile/<%= posts[i].posterId%>"><%= posts[i].posterUserName%></a>
                      <a href="/profile/<%= posts[i].posterId%>">
                        <img class="postW" src="<%= posts[i].imgPath%>">
                      </a>
                      <span class="budsCap"><%- posts[i].caption %></span>
                     
                    </div>
            
                <% } %>
              </div>
              <p class="jump"><a href="#topJump"><img src="img/bird4.gif" alt=""></a></p>
            </div>
          </div>
          </div>
         </div>
   </section><!-- End Contact Us Section -->
 </main><!-- End #main -->
 <script src='/viewsjs/buds.js'></script>
<%- include('footer'); -%>
